<div class="scaffold">
	<div class="container-fluid">
		<h1>Editing Treinamento</h1>

		<%= render 'form', treinamento: @treinamento %>

		<%= link_to 'Show', @treinamento , class: "btn btn-dark"%> 
		<%= link_to 'Back', treinamentos_path , class: "btn btn-dark"%>
	</div>
</div>