	<tr>
  	<!-- <th id="playerJS" scope="row">&gt;</th> -->
	  	<td id="nomeP"><%= player.nome %></td>
	    <td id="nickP"><%= player.nick %></td>
	  	<td id="posicaoP"><%= player.posicao %></td>
	  	<td id="rankedP"><%= player.ranked %></td>
	</tr>
